[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IETD"]
	path = IETD
	url = https://github.com/lfduquey/ietd
[submodule "MDBED"]
	path = MDBED
	url = https://github.com/lfduquey/mdbed
